/cccc
/cccc.exe
/cccc-*
libcccc*
*.dSYM
*~
*.bak
*.txt
TICKETS
fuzz/out/
fuzz/corpus
profile/*.prof
profile/*.json
profile/*.txt
profile/*.massif
profile/vm-opcodes/
build/bench-*
benchmarks/results/
benchmarks/results/*.json
